.App {
    text-align: center;
    font-size: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.App-header {
    background: url("../assets/banner.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 110px;
    width: 100%;
    color: white;
    position: absolute;
}

.App-intro {
    font-size: large;
}

.Bug-logo {
    animation: App-bug-wiggle infinite 10s linear;
    height: 62px;
}

.DisplayWindow {
    background-color: #73B1B7;
    width: 81%;
    height: 600px;
    float: right;
    position: relative;
    top: 110px;
    padding: 10px;
}

.padField {
    padding-left: 1rem;
    text-align: left;
}

@keyframes App-bug-wiggle {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}

.Sidebar {
    background-color: #008080;
    border: 1px solid #ccc;
    padding: 10px;
    width: 15%;
    height: 550px;
    float: left;
    text-align: left;
    font-size: 1.2em;
    position: absolute;
    left: 0px;
    top: 110px;
}

.TopMenu {
    background-color: #4A777A;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: right;
    width: 60%;

    position: relative;
    top: 250;

    margin-left: 0%;
    height: 100;
}
